#mainheader, #aboutus, #land, #water, #air, #solnprev {
	text-align: center;
	color: #013220;
	padding: 10px;
	width: 80%;
}

p {
  margin: 10px;
  font-size: 15px;
  font-weight: normal;
  width: 80%;
}

img {
  float: right;
  margin-right: 10%;
}